* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #D93131;
    --color-sekunder: #6C4095;
    --big-font: 5rem;
    --h1-font: 2.25rem;
    --p-font: 1.7rem;
    --jdl-font: 1.5rem;
}

::selection {
    background-color: var(--color-primary);
    color: white;
}
body {
    background-color: #000000;
}

/* ----------------------- style navbar -------------------------- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Asset_image/Supporter/Supporter2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.navbar {
    padding: 15px 0 15px 0;
    position: fixed;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 9999;
}

.navbar.scrolling-active {
    background-color: var(--color-primary);
    padding: 20px 0 20px 0;
    border-bottom: 0.5px solid white;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .logo h1 {
    color: white;
    font-size: var(--h1-font);
}

.navbar .box-navbar .menu {
    display: flex;
    column-gap: 20px;
}

.navbar .box-navbar .menu li {
    list-style-type: none;
}

.navbar .box-navbar .menu li a {
    text-decoration: none;
    color: white;
    font-size: var(--p-font);
    padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu li a:hover {
    color: var(--color-sekunder);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.menu-bar {
    color: black;
    font-size: 24px;
    display: none;
}

/* ----------------------- end style navbar -------------------------- */
/* ----------------------- style home -------------------------- */
.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.hero .box-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero .box-hero .box:nth-child(1) h1 {
    color: white;
    font-size: var(--big-font);
    line-height: 1.3;
    margin-bottom: 20px;
}

.hero .box-hero .box:nth-child(1) p {
    line-height: 1.25;
    color: white;
    font-size: var(--p-font);
    margin-bottom: 20px;
    font-weight: 100;
}

.hero .box-hero .box:nth-child(2) img {
    width: 100%;
}

/* ----------------------- end style home -------------------------- */

/* ----------------------- style about -------------------------- */
.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("Asset_image/Background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 0px 50px 0px;
    width: 100%;
    height: 40%;
    margin-inline: auto;
}

.about-container {
    width: 95%;
    align-items: center;
    padding: 0 5% 0 15%;
}

.about-container .about-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;
    align-items: center;
}

.about-container .about-content .about-img img {
    width: 475px;
    height: 330px;
    border-radius: 10px;
}

.about-content .about-text span {
    padding-top: 10px;
    text-align: left;
    color: var(--color-primary);
    font-size: var(--jdl-font);
    font-weight: 900;
}

.about-content .about-text h1 {
    padding: 5px 0 15px 0;
    color: white;
    font-size: var(--h1-font);
}

.about-content .about-text p {
    color: white;
    font-weight: 600;
    font-size: var(--jdl-font);
    margin: 1.8rem 0 1.8rem;
    line-height: 1.7;
}

/* ----------------------- end style about -------------------------- */


/* ----------------------- style staff -------------------------- */
.staff {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.staff .title h1 {
    color: white;
    font-size: var(--big-font);
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}

#wrapper {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
}

.tabs {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.tab-control {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 2rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    color: white;
    transition: all 0.25s ease;
}
.tab-control::after{
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-sekunder);
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
}
.tab-control:hover::after{
    width: 100%;
}
.tab-control:hover {
    opacity: 0.8;
}
.tab-panel {
    display: none;
    transition: 0.4s;
}

input[type=radio]:checked+.tab-control {
    font-weight: 700;
    color: var(--color-sekunder);
}

#tab-1:checked~.tab-content>#tab-panel-1 {
    display: block;
    transition: .7s;
}

#tab-2:checked~.tab-content>#tab-panel-2 {
    display: block;
    transition: .7s;
}

.container-staff {
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}

.container-staff .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
}

#two:checked~.main-card {
    margin-left: -100%;
}

.container-staff .main-card .cards {
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}

.main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.main-card .cards .card:hover {
    transform: translateY(-17px);
}

.cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
}

.cards .card .content .img {
    height: 350px;
    width: 350px;
    margin: 3px;
}

.card .content .img img {
    height: 100%;
    width: 100%;
    object-fit: fit;
}

.card .content .name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.card .content .job {
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.container-staff .button-staff {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button-staff label {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: var(--color-sekunder);
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-staff label.active {
    width: 35px;
}

#one:checked~.button-staff .one {
    width: 35px;
}

#one:checked~.button-staff .two {
    width: 15px;
}

#two:checked~.button-staff .one {
    width: 15px;
}

#two:checked~.button-staff .two {
    width: 35px;
}

input[type="radio"] {
    display: none;
}

.manager-content {
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.card-manager {
    margin-right: 25px;
    margin-bottom: 30px;
    background-color: #fff;
    width: 30%;
    margin-top: 70px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    transition: cubic-bezier(0.175, 0.885, 0, 1);
}

.card-manager-img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-manager-img-hover {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    object-fit: fill;
    transition: 0.2s all ease-out;
}

.card-manager:hover .card-manager-img-hover {
    height: 100%;
    opacity: 0.3;
}

.card-manager:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1, 1);
}

.card-manager-info {
    z-index: 2;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card-manager-category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-style: 500;
    color: #868686;
}

.card-manager-title {
    font-size: var(--h1-font);
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-manager-more {
    font-size: 12px;
    font-weight: 500;
}

.card-manager-kontrak {
    font-size: var(--p-font);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-sekunder);
}

.card-manager:hover .card-manager-info {
    background-color: transparent;
    position: relative;
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

/* ----------------------- end style staff -------------------------- */


/* ----------------------- style jersey -------------------------- */
.jersey {
    width: 90%;
    margin-inline: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 70px 0 70px 0;
}
.jersey .box-jersey{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;
    align-items: center;
}
.jersey .box-jersey-img {
    margin-left: 35px;
}

.jersey .box-jersey-img img {
    width: 75%;
    height: 75%;
}
.box-jersey-text{
    width: 90%;
    margin: auto;
    text-align: right;
}
.box-jersey-text p {
    padding-top: 35px;   
    font-weight: 600;
    line-height: 1.5; 
    font-size: var(--jdl-font);
    color: white;
}
.box-jersey-text h1{
    color: var(--color-primary);
    font-size: var(--h1-font);
}

/* ----------------------- end style jersey -------------------------- */

/* ----------------------- style merchandise -------------------------- */
.merchandise-container {
    background-color: white;
    width: 100%;
    height: auto;
    margin: auto;
}

.bg-merchandise {
    width: 100%;
    height: 35rem;
    object-fit: fill;
}

.merchandise-produk {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.text-merchandise {
    margin-top: 20px;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--h1-font);
}

.description-merchandise {
    margin-top: 20px;
    width: 50%;
    margin-inline: auto;
    font-weight: 600;
    font-style: italic;
    font-size: var(--jdl-font);
    text-align: center;
}

.merchandise-produk .box-produk {
    margin: 30px 0px 30px 20px;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.merchandise-produk .box-produk:hover {
    box-shadow: none;
    border: 2px solid black;
}

.merchandise-produk .box-produk img {
    width: 100%;
    height: 450px;
    object-fit: fill;
}

.merchandise-produk .box-produk h1 {
    margin-top: 10px;
    text-align: center;
    font-size: var(--h1-font);
}

.merchandise-produk .box-produk p {
    margin-top: 10px;
    text-align: center;
    font-size: var(--jdl-font);
}

.merchandise-produk .box-produk .price {
    font-weight: 700;
    color: var(--color-sekunder);
    margin-bottom: 20px;
}

.merchandise-produk .box-produk .button-produk {
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    font-size: var(--p-font);
}

.merchandise-produk .box-produk .button-produk:hover {
    color: black;
    border: none;
    background-color: var(--color-primary);
}

/* ----------------------- end style merchandise -------------------------- */

/* ----------------------- style gallery -------------------------- */
.gallery {
    width: 90%;
    margin-inline: auto;
}

.gallery-container {
    padding: 60px 0 60px 0;
    width: 100%;
    height: auto;
}

.gallery-content .head-gallery {
    text-align: center;
    align-items: center;
    width: 60%;
    margin-inline: auto;
}

.gallery-content .head-gallery h1 {
    font-size: var(--h1-font);
    color: var(--color-primary);
    text-align: center;
}

.gallery-content .head-gallery p {
    padding-top: 20px;
    font-weight: 600;
    font-style: italic;
    font-size: var(--p-font);
    color: white;
    text-align: center;
}

.menu-btns {
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
}

.menu-btn {
    font-family: var(--Inter);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--color-sekunder);
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    outline: 0;
    transition: opacity 0.4s ease-out;
}

.menu-btn::after {
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-sekunder);
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
}

.menu-btn:hover::after {
    width: 100%;
}

.menu-btn:hover {
    opacity: 0.8;
}

.active-btn {
    color: #fff;
}

.gallery-items {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-bottom: 0.8rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.gallery-item {
    border-radius: 4px;
    overflow: hidden;
    color: #000;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gallery-img {
    width: 60rem;
    height: 30rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in;
    border-radius: 4px;
}

.gallery img:hover {
    filter: blur(1px);
}

/* ----------------------- end style gallery -------------------------- */

/* ----------------------- style news -------------------------- */
.news {
    position: relative;
    background-color: whitesmoke;
    padding: 50px 0 50px 0;
}

.title-news {
    padding: 0 5px;
    font-size: var(--h1-font);
    color: var(--color-primary);
    font-weight: 900;
    text-transform: capitalize;
}

.description-news {
    padding: 0 5px;
    font-weight: 600;
    font-size: var(--p-font);
    margin-bottom: 40px;
}

.news-container {
    width: 100%;
    padding: 0 10vw;
    height: 20%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.news-container::-webkit-scrollbar {
    display: none;
}

.news-card {
    flex: 0 0 auto;
    width: 350px;
    height: 450px;
    margin-right: 40px;
}

.news-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.news-thumb {
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.news-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: var(--color-primary);
    color: #fff;
}

.news-card:hover .news-thumb {
    filter: blur(2px);
}

.news-info {
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

.news-title {
    text-transform: uppercase;
}

.news-short-description {
    width: 100%;
    height: 50px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 60%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, whitesmoke 90%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
    width: 40px;
    height: 40px;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/* ----------------------- end style news -------------------------- */

.promosi .item img{
    width: 100%;
    height: 100%;
}

/* ----------------------- style footer -------------------------- */
.footer {
    padding: 50px 0 10px 0;
    background-color: rgba(27, 27, 27, 1);
}

.footer .box-footer {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    column-gap: 100px;
    align-items: center;
}

.footer .box-footer .box {
    color: white;
}

.footer .box-footer .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer .box-footer .box:nth-child(2) a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: var(--p-font);
    cursor: pointer;
}

.footer .box-footer .box:nth-child(2) a:hover {
    color: var(--color-primary);
    transform: translateX(5px);
}

.footer .box-footer .box img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.footer .box-footer .box h1 {
    font-size: var(--h1-font);
    color: var(--color-sekunder);
}

.footer .box-footer .box p {
    font-weight: 200;
    font-size: var(--jdl-font);
}

.footer .box-footer .box:nth-child(1) p {
    font-size: var(--jdl-font);
    line-height: 2;
    margin-top: 10px;
}

.footer .box-footer .box:nth-child(3) {
    text-align: center;
}

.footer .box-footer .box:nth-child(3) span {
    font-weight: bold;
}

/* ----------------------- end style footer -------------------------- */


@media screen and (max-width: 1200px) {
    .hero .box-hero .box:nth-child(1) button {
        width: 150px;
    }
}


/* --------------- responsive desktop --------------*/
@media screen and (max-width: 990px) {
    :root {
        --big-font: 3rem;
        --h1-font: 1.75rem;
        --p-font: 1.5rem;
        --jdl-font: 1.5rem;
        --small-font: 1.2rem;
    }

    .menu-bar {
        display: block;
        color: white;
    }

    .menu-bar:hover {
        color: var(--color-sekunder);
    }

    .navbar .box-navbar .menu {
        position: absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 30rem;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        color: black;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        background-color: var(--color-primary);
    }

    .navbar .box-navbar .menu.menu-active {
        display: block;
        align-items: center;
        text-align: center;
        top: 70px;
    }

    .navbar .box-navbar .menu li {
        text-align: center;
        align-items: center;
        margin-top: 15px;
    }

    .hero .box-hero .box:nth-child(1) p {
        font-size: var(--jdl-font);
        font-weight: 300;
    }

    /* ----------------------- end navbar and home -------------------------- */

    /* ----------------------- resp about -------------------------- */
    .about-container {
        width: 90%;
        margin-inline: auto;
        align-items: center;
        padding: 0 0 0 0;
    }

    .about-container .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-content .about-img img {
        margin-left: 0px;
        order: 2;
        border-radius: 5px;
        width: 100%;
        height: 50%;
    }

    .about-content .about-text p {
        font-size: var(--small-font);
        text-align: center;
        font-style: italic;
    }

    /* ----------------------- end resp about -------------------------- */

    /* ----------------------- resp staff -------------------------- */
    .cards .card .content .img {
        height: 250px;
        width: 100%;
        margin: 3px;
    }
    /* ----------------------- end resp staff -------------------------- */

    /* ----------------------- resp jersey -------------------------- */
    .box-jersey-text p {
        width: 100%;
        margin: auto;
        font-size: var(--small-font);
        color: white;
    }
    .jersey {
        width: 90%;
        margin-inline: auto;
        align-items: center;
        padding: 70px 0 70px 0;
    }
    .jersey .box-jersey{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .jersey .box-jersey-img {
        margin-left: 35px;
    }
    
    .jersey .box-jersey-img img {
        width: 100%;
        height: 100%;
    }
    .box-jersey-text{
        width: 100%;
        text-align: justify;
    }
    .box-jersey-text p {
        padding-top: 35px;   
        font-weight: 600;
        line-height: 1.5; 
        font-size: var(--jdl-font);
        color: white;
    }
    .box-jersey-text h1{
        text-align: center;
        color: var(--color-primary);
        font-size: var(--h1-font);
    }
    

    /* ----------------------- end resp jersey -------------------------- */

    /* ----------------------- resp merchandise -------------------------- */
    .description-merchandise {
        margin-top: 10px;
        width: 90%;
        margin-inline: auto;
        font-size: var(--small-font);
        text-align: center;
    }

    .merchandise-produk {
        width: 100%;
        margin: auto;
    }

    .merchandise-produk .box-produk {
        padding: 30px 0 30px 10px;
        width: 40%;
    }

    .merchandise-produk .box-produk img {
        width: 100%;
        height: 350px;
        object-fit: fill;
    }

    .merchandise-produk .box-produk p {
        width: 90%;
        margin-top: 10px;
        text-align: center;
        font-size: var(--small-font);
    }

    .merchandise-produk .box-produk .price {
        margin-bottom: 5px;
    }

    .merchandise-produk .box-produk .button-produk {
        width: 50%;
        border-radius: 5px;
        padding: 8px;
        border: 2px solid black;
    }

    /* ----------------------- end resp merchandise -------------------------- */

    /* ----------------------- resp gallery -------------------------- */
    .gallery-content .head-gallery {
        width: 100%;
    }

    .gallery-content .head-gallery p {
        font-size: var(--small-font);
        text-align: center;
    }

    .gallery-img {
        width: 100%;
        height: 20rem;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        transition: filter 0.3s ease-in;
        border-radius: 4px;
        object-fit: fill;
    }

    /* ----------------------- end resp gallery -------------------------- */

    /* ----------------------- style footer -------------------------- */
    .footer .box-footer {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .footer .box hr {
        width: 10%;
    }
}

/* --------------- responsive desktop --------------*/



/* --------------- responsive tablet --------------*/
@media screen and (max-width: 768px) {

    /* --------------- home --------------*/
    .hero .box-hero {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
    }

    .hero .box-hero .box:nth-child(1) {
        order: 2;
        text-align: center;
    }

    .hero .box-hero .box:nth-child(2) {
        order: 1;
        text-align: center;
    }

    .hero .box-hero .box:nth-child(2) img {
        width: 55vw;
    }

    /* --------------- end home --------------*/
}

/* --------------- responsive tablet --------------*/



/* --------------- responsive mobile --------------*/
@media screen and (max-width: 575px) {
    :root {
        --big-font: 3rem;
        --h1-font: 1.75rem;
        --p-font: 1.5rem;
        --jdl-font: 1.2rem;
        --small-font: 0.7rem;
    }
    .navbar .box-navbar .menu {
        height: 21rem;
    }

    .hero .box-hero .box:nth-child(1) h1 {
        font-size: 18px;
    }

    /* --------------- jersey --------------*/
    .box-jersey-text p {
        font-size: var(--small-font);
        text-align: justify;
        font-style: italic;
        width: 100%;
        margin: auto;
    }

    /* --------------- end jersey --------------*/

    /* --------------- about --------------*/
    .about-container {
        width: 90%;
        margin-inline: auto;
        align-items: center;
        padding: 0 0 0 0;
    }

    .about-container .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-container .about-content .about-img img {
        width: 100%;
        height: 250px;
        order: 2;
    }

    .about-content .about-img img {
        margin-left: 0px;
        order: 2;
        width: 200px;
        height: 150px;
    }

    .about-content .about-text p {
        font-size: var(--small-font);
        text-align: justify;
        font-style: italic;
    }

    /* --------------- end about --------------*/

    /* --------------- staff --------------*/
    #wrapper {
        display: flex;
        align-items: center;
        height: 25%;
        width: 100%;
    }
    .container-staff {
        padding: 10px 0;
    }
    .container-staff .main-card .cards {
        width: calc(100% / 2 - 10px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
        justify-content: space-between;
    }

    .main-card .cards .card {
        margin: 20px 0 5px 0;
        width: calc(100% / 1 - 10px);
    }

    .cards .card .content {
        width: 100%;
        height: 250px;
    }

    .cards .card .content .img {
        height: 200px;
        width: 170px;
    }

    .card .content .img img {
        height: 100%;
        width: 100%;
        object-fit: fit;
    }

    .card-manager {
        width: 30em;
        display: block;
        margin: 1em;
    }

    /* --------------- end staff --------------*/
    .jersey {
        width: 90%;
        margin-inline: auto;
        align-items: center;
        padding: 70px 0 70px 0;
    }
    .jersey .box-jersey{
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }
    
    .jersey .box-jersey-img img {
        padding-right: 15%;
        width: 100%;
        height: 100%;
    }
    .box-jersey-text{
        width: 100%;
        text-align: justify;
    }
    .box-jersey-text p {
        padding-top: 20px;
        font-size: var(--small-font);
    }
    .box-jersey-text h1{
        text-align: center;
        font-size: var(--h1-font);
    }

    /* --------------- merchandise --------------*/
    .bg-merchandise {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .merchandise-produk {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .merchandise-produk .box-produk {
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 25rem;
    }

    .merchandise-produk .box-produk img {
        width: 60%;
        margin-inline: auto;
        height: 17rem;
        object-fit: fill;
    }

    .merchandise-produk .box-produk img:hover {
        filter: blur(2px);
    }

    .merchandise-produk .box-produk p {
        display: none;
    }

    .merchandise-produk .box-produk .button-produk {
        display: none;
    }

    .description-merchandise {
        font-size: var(--small-font);
        width: 90%;
        text-align: justify;
        margin-bottom: 20px;
    }

    /* --------------- end merchandise --------------*/

    /* --------------- resp gallery --------------*/
    .gallery-content .head-gallery {
        width: 100%;
        margin-inline: auto;
    }

    .gallery-content .head-gallery p {
        font-size: var(--small-font);
        text-align: justify;
    }

    .gallery-items {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
        column-gap: 1rem;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
    }

    .gallery-img img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    /* --------------- end responsive gallery --------------*/

    /* --------------- responsive news --------------*/
    .description-news {
        width: 90%;
    }

    .news-container {
        padding: 0 5vw;
    }

    .news .box-news {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        gap: 20px;
        row-gap: 30px;
    }

    .news .box-news .box:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    .news .box-news .box h1 {
        font-size: 13px;
    }

    .news .box-news .box p {
        font-weight: 50;
        font-size: 12px;
        margin: 10px 0px 10px 0px;
    }

    .news .box-news .box button {
        padding: 10px 20px;
    }

    .news-card {
        flex: 0 0 auto;
        width: 325px;
        height: 450px;
        margin-right: 40px;
    }

    .news-short-description {
        font-size: 1rem;
    }

    /* --------------- end news --------------*/
    .footer .box hr {
        width: 17%;
    }

    .footer .box-footer .box:nth-child(1) p {
        font-weight: 300;
        font-size: 1.1.5rem;
        line-height: 1.3;
        margin-top: 10px;
    }
    .footer .box-footer .box:nth-child(2) a {
        font-size: 1.2rem;
        font-weight: 550;
    }
}

/* --------------- end responsive mobile --------------*/

@media screen and (max-width: 370px) {

    /* --------------- home --------------*/
    .hero .box-hero .box:nth-child(2) {
        width: 55vw;
        align-self: flex-end;
        justify-self: center;
    }
    /* --------------- end home --------------*/
}